<div class="bg-white shadow-lg rounded overflow-hidden mb-5">
  <app-post-reply-entry [entry]="post" [type]="'post'"></app-post-reply-entry>
</div>

<div class="bg-white shadow-lg rounded overflow-hidden" *ngFor="let reply of post.replies; let i = index" 
[ngClass]="{'mb-1': (i+1) !== post.replies.length, 'mb-5': (i+1) === post.replies.length}">
  <app-post-reply-entry [entry]="reply" [index]="i+2" [type]="'reply'"></app-post-reply-entry>
</div>

<app-reply-form (submission)="onSubmit($event)" *ngIf="authService.isAuthanticated && post.variety !== 3"></app-reply-form>