<div class="row">
  <!-- Latest Replies (+) -->
  <div class="col-md">
    <div class="rounded shadow-lg overflow-hidden bg-light">
      <div class="bg-light font-weight-bold text-uppercase p-3">
        <i class="fas fa-comments"></i> Son Gönderi Cevapları
      </div>
      <app-reply-shortlist [replies]="latestReplies"></app-reply-shortlist>
    </div>
  </div>
  <!-- Latest Replies (-) -->
  
  <!-- Latest Posts (+) -->
  <div class="col-md">
    <div class="rounded shadow-lg overflow-hidden bg-light">
      <div class="bg-light font-weight-bold text-uppercase p-3">
        <i class="fas fa-fire"></i> Son Forum Gönderileri
      </div>
      <app-post-shortlist [posts]="latestPosts"></app-post-shortlist>
    </div>
  </div>
  <!-- Latest Posts (-) -->

</div>

<div class="py-3 w-100"></div>

<!-- Forums (+) -->
<div class="rounded shadow-lg overflow-hidden bg-light" *ngFor="let category of categories; let i = index" [class.mb-5]="(i+1) !== categories.length">
  <!-- Category Name (+) -->
  <div class="bg-light font-weight-bold text-uppercase p-3">
    <i class="far fa-folder-open"></i> {{ category.categoryName }}
  </div>
  <!-- Category Name (-) -->

  <div *ngIf="!category.forums.length" class="text-secondary text-center m-3" role="alert">
    <i class="fas fa-info fa-2x d-block"></i> Bu foruma ait harhangi bir gönderi bulunmuyor. İlk gönderiyi paylaşan siz olabilirsiniz.
  </div>

  <ul *ngIf="category.forums.length" class="list-group list-group-flush">
    
    <!-- Forum Attributes (-) -->
    <li class="bg-light list-group-item border-white p-3">
      <div class="row">
        <div class="col-md-6"><small class="text-secondary">Gönderi Başlığı</small></div>
        <div class="col-md-4"><small class="text-secondary">Son Forum Gönderisi</small></div>
        <div class="col-md-2 text-right"><small class="text-secondary">İstatistikler</small></div>
      </div>
    </li>
    <!-- Forum Attributes (-) -->

    <!-- Forum Entiries (+) -->
    <li class="list-group-item border-0 p-3" *ngFor="let forum of category.forums; let i = index" [class.bg-light]="(i+1) % 2 === 0">
      <div class="row d-flex align-items-center">
        <!-- Forum Details (+) -->
        <div class="col-md-6">
          <app-forum-overview [forum]="forum"></app-forum-overview>
        </div>
        <!-- Forum Details (-) -->

        <!-- Latest Post (+) -->
        <div class="col-md-4">
          <app-post-overview [post]="forum.latestPost" [limit]=35 *ngIf="forum.latestPost"></app-post-overview>
        </div>
        <!-- Latest Post (-) -->

        <!-- Statistics (+) -->
        <div class="col-md-2 text-right">
          <small class="text-secondary">
            Gönderiler: {{ forum.postsCount }}
          </small>
        </div>
        <!-- Statistics (-) -->

      </div>
    </li>
    <!-- Forum Entiries (-) -->

  </ul>
</div>
<!-- Forums (-) -->