<div class="rounded shadow-lg overflow-hidden" [ngClass]="{'mb-1': (i+1) !== size, 'mb-5': (i+1) === size}">
  <div class="row no-gutters d-flex align-items-stretch">
    <!-- Profile section started -->
    <div class="col-md-3">
      <div class="bg-light h-100 p-3">
        <!-- Author's image started -->
        <section>
          <img src="{{ reply.authorImageUrl }}" class="rounded-circle w-75 mx-auto d-block" alt="...">
        </section>
        <!-- Author's image ended -->

        <section class="text-center font-weight-bold py-3">
          {{ reply.authorUserName }}
        </section>

        <!-- Author's details started -->
        <section class="d-flex justify-content-between">
          <small class="text-secondary">Üyelik Tarihi</small>
          <small>{{ reply.authorRegisteredAt | date:'dd.MM.yyyy' }}</small>
        </section>
        
        <section class="d-flex justify-content-between">
          <small class="text-secondary">Toplam Gönderi</small>
          <small>{{ reply.authorPostsCount }}</small>
        </section>

        <section class="d-flex justify-content-between">
          <small class="text-secondary">Beğeniler</small>
          <small>{{ post.authorRating }}</small>
        </section>
        <!-- Author's details ended -->
      </div>
    </div>
    <!-- Profile section ended -->

    <!-- Reply content started -->
    <div class="col-md-39">
      <div class="bg-white h-100 p-3 ">
        <div class="d-flex justify-content-between align-items-center text-secondary border-bottom pb-3">
          <small>
            {{ reply.repliedAt | date:'dd.MM.yyyy, HH:mm:ss' }}
          </small>
          <div>
            <div class="dropdown d-inline-block">
              <div class="btn btn-link btn-sm dropdown-toggle text-secondary" style="cursor: pointer" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </div>
              <div class="dropdown-menu dropdown-menu-right shadow-sm bg-light" aria-labelledby="dropdown">
                <a class="dropdown-item" href="#"><i class="fas fa-clone"></i> Gönderi Bağlantısını Kopyala</a>
                <a class="dropdown-item text-danger" href="#"><i class="fas fa-flag"></i> Gönderiyi Şikayet Et</a>
                <div class="dropdown-divider" [hidden]="authService.currentUser.sub !== reply.authorId"></div>
                <a class="dropdown-item" href="javascript:;" [hidden]="authService.currentUser.sub !== reply.authorId" (click)="onToggle(reply)"><i class="fas fa-edit"></i> Gönderiyi Düzenle</a>
              </div>
            </div>
            <small class="ml-3">#{{ i+2 }}</small>
          </div>
        </div>

        <div class="mt-3" [hidden]="collapsed" [innerHTML]="reply.body"></div>
  
        <div class="mt-3" [hidden]="!collapsed">
          <div class="form-group">
            <quill-editor [(ngModel)]="reply.body" [styles]="{height: '250px'}" [modules]="modules"></quill-editor>
          </div>
          <div class="text-right">
            <button class="btn btn-secondary btn-sm" (click)="onToggle()">Vazgeç</button>
            <button class="btn btn-primary btn-sm ml-1" (click)="onUpdate()">Hızlı Kaydet</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Reply content ended -->
  </div>
</div>