<div class="bg-light p-3">
  <div class="row d-flex align-items-center">
    <div class="col">
      #{{ i+1 }}
    </div>
    <div class="col text-right">
      <small>
        Yayınlanma Tarihi: {{ reply.repliedAt | date:'dd.MM.yyyy, HH:mm:ss' }}
      </small>
    </div>
  </div>
</div>

<div class="bg-light border-top border-white d-flex align-items-center justify-content-between p-3">
  <div>
    <button (click)="onToggle(reply)" class="btn btn-primary btn-sm" [hidden]="authService.currentUser.sub !== reply.authorId || collapsed">
      Düzenle
    </button>

    <button (click)="onToggle()" class="btn btn-secondary btn-sm" [hidden]="!collapsed">
      Vazgeç
    </button>

    <a href="" class="btn btn-secondary btn-sm" [hidden]="authService.currentUser.sub === reply.authorId">
      Özel Mesaj Gönder
    </a>
  </div>
  <div>
    <small style="cursor: pointer"><i class="fas fa-clone"></i> Gönderi Bağlantısını Kopyala</small>
    <small class="ml-3" style="cursor: pointer"><i class="text-danger fas fa-flag"></i> Gönderiyi Şikayet Et</small>
  </div>
</div>

<div class="bg-light border-top border-white p-3">
  <div class="row">
    <div class="col-md">
      <div class="media">
        <img src="{{ reply.authorImageUrl }}" style="width: 50px" class="mr-3 rounded" alt="...">
        
        <div class="media-body">
          <strong>{{ reply.authorUserName }}</strong>
        </div>
      </div>
    </div>
    <div class="col-md text-right">
      <small class="d-block">Üyelik Tarihi: {{ reply.authorRegisteredAt | date:'dd.MM.yyyy' }}</small>
      <small class="d-block">Toplam Gönderi: {{ reply.authorPostsCount }}</small>
      <small class="d-block">
        Karizma: 
        <app-rating [rating]="reply.authorRating"></app-rating>
      </small>
    </div>
  </div>
</div>

<div class="bg-white p-3">
  <div [hidden]="collapsed" [innerHTML]="reply.body"></div>
  
  <div [hidden]="!collapsed">
    <div class="form-group">
      <quill-editor [(ngModel)]="reply.body" [styles]="{height: '250px'}" [modules]="modules"></quill-editor>
    </div>
    <div class="text-right">
      <button class="btn btn-primary" (click)="onUpdate()">Kaydet</button>
    </div>
  </div>
</div>