@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700&display=swap&subset=latin-ext');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: 'Saira Semi Condensed', sans-serif;
}

body {
    background: #EEEEEE;
}

.customized-dialog .mat-dialog-container {
    padding: 0;
    border-radius: 0;
}