<div class="rounded shadow-lg overflow-hidden">
  <div class="bg-light border-bottom border-white p-3">
    {{ post.title }}
  </div>
  <div class="row no-gutters d-flex align-items-stretch">
    <!-- Profile section started -->
    <div class="col-md-3">
      <div class="bg-light h-100 p-3">
        <!-- Author's image started -->
        <section>
          <img src="{{ post.authorImageUrl }}" class="rounded-circle w-75 mx-auto d-block" alt="...">
        </section>
        <!-- Author's image ended -->

        <!-- Author's details started -->
        <section class="text-center font-weight-bold py-3">
          {{ post.authorUserName }}
        </section>

        <section class="d-flex justify-content-between">
          <small class="text-secondary">Üyelik Tarihi</small>
          <small>{{ post.authorRegisteredAt | date:'dd.MM.yyyy' }}</small>
        </section>
        
        <section class="d-flex justify-content-between">
          <small class="text-secondary">Toplam Gönderi</small>
          <small>{{ post.authorPostsCount }}</small>
        </section>

        <section class="d-flex justify-content-between">
          <small class="text-secondary">Beğeniler</small>
          <small>{{ post.authorRating }}</small>
        </section>
        <!-- Author's details ended -->
      </div>
    </div>
    <!-- Profile section ended -->

    <!-- Post content started -->
    <div class="col-md-9">
      <div class="bg-white h-100 p-3 ">
        <div class="d-flex justify-content-between align-items-center text-secondary border-bottom pb-3">
          <small>
            {{ post.postedAt | date:'dd.MM.yyyy, HH:mm:ss' }}
          </small>
          <div>
            <div class="dropdown d-inline-block">
              <div class="btn btn-link btn-sm dropdown-toggle text-secondary" style="cursor: pointer" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </div>
              <div class="dropdown-menu dropdown-menu-right shadow-sm bg-light" aria-labelledby="dropdown">
                <a class="dropdown-item" href="#"><i class="fas fa-clone"></i> Gönderi Bağlantısını Kopyala</a>
                <a class="dropdown-item text-danger" href="#"><i class="fas fa-flag"></i> Gönderiyi Şikayet Et</a>
                <div class="dropdown-divider" [hidden]="authService.currentUser.sub !== post.authorId"></div>
                <a class="dropdown-item" [hidden]="authService.currentUser.sub !== post.authorId" [routerLink]="['/forum/' + post.forumId + '/post/' + post.id + '/edit']"><i class="fas fa-edit"></i> Gönderiyi Düzenle</a>
              </div>
            </div>
            <small class="ml-3">#1</small>
          </div>
        </div>

        <div [innerHTML]="post.body" class="py-3"></div>

        <div class="text-right text-secondary">
          <button class="btn btn-outline-success btn-sm" [hidden]="authService.currentUser.sub === post.authorId">
            <i class="far fa-thumbs-up"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Post content ended -->
  </div>
</div>