<div class="row">
  <!-- User reply started -->
  <div class="col-md-3">
    <div class="bg-white rounded shadow-lg p-3">
      <!-- Image url started -->
      <section>
        <img src="{{ user.imageUrl }}" class="rounded-circle w-75 mx-auto d-block" alt="...">
      </section>
      <!-- Image url ended -->

        <!-- Author's details started -->
        <section class="text-center font-weight-bold py-3">
          {{ user.userName }}
        </section>

        <section class="d-flex justify-content-between">
          <small class="text-secondary">Üyelik Tarihi</small>
          <small>{{ user.registeredAt | date:'dd.MM.yyyy' }}</small>
        </section>
        
        <section class="d-flex justify-content-between">
          <small class="text-secondary">Toplam Gönderi</small>
          <small>{{ user.postsCount }}</small>
        </section>

        <section class="d-flex justify-content-between">
          <small class="text-secondary">Beğeniler</small>
          <small>{{ user.rating }}</small>
        </section>
        <!-- Author's details ended -->
    </div>
  </div>
  <!-- User reply ended -->

  <!-- User activities started -->
  <div class="col-md-9">
    <div class="rounded overflow-hidden shadow-lg">
      <!-- Tab menu started -->
      <div class="bg-light">
        <ul class="nav nav-tabs px-3 pt-3 border-0" id="tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active border-0" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">Forum Gönderileri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border-0" id="reply-tab" data-toggle="tab" href="#reply" role="tab" aria-controls="reply" aria-selected="false">Gönderi Cevapları</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border-0" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border-0" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
          </li>
        </ul>
      </div>
      <!-- Tab menu ended -->
  
      <!-- Tab content started -->
      <div class="tab-content">
        <div class="tab-pane active" id="post" role="tabpanel" aria-labelledby="post-tab">
          <app-post-shortlist [posts]="user.userPosts" [title]="'Forum Gönderileri'"></app-post-shortlist>
        </div>
        <div class="tab-pane" id="reply" role="tabpanel" aria-labelledby="reply-tab">..2.</div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">.3..</div>
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">.4..</div>
      </div>
      <!-- Tab content ended -->
    </div>
  </div>
  <!-- User activities ended -->
</div>


  
<script>
  $(function () {
    $('#tab li:last-child a').tab('show')
  })
</script>
