<div class="bg-white text-secondary rounded shadow-lg">
  <div class="p-3">
    Forumlar
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let forum of forums; let i = index" class="list-group-item rounded border-0 p-3" [class.bg-light]="(i+1) % 2 !== 0">
      <div class="row d-flex align-items-center">
        <div class="col-6">
          <div class="media">
            <img [src]="'assets/' + forum.imageUrl" style="width: 50px" class="mr-3 rounded" alt="...">
            
            <div class="media-body">
              <a class="d-block mb-1" href="">{{ forum.title }}</a>
              <div>
                {{ forum.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div *ngFor="let post of forum.latestPosts">
            <a href="" class="d-block mb-1">{{ post.title | summary }}</a>
            <div class="d-flex justify-content-between">
              <small>
                <a href="" class="text-secondary">{{ post.authorUserName }}</a>
              </small>
              <small>{{ post.postedAt | date:'dd.MM.yyyy, HH:mm:ss' }}</small>
            </div>
          </div>
        </div>
        <div class="col-3 text-right">
          Gönderiler: {{ forum.postsCount }}
        </div>
      </div>
    </li>
  </ul>
</div>