<div class="text-secondary rounded shadow-lg">
  <div class="p-3">
    Forumlar
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let forum of forums; let i = index" class="list-group-item rounded border-0 p-3" [class.bg-light]="(i+1) % 2 === 0">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <app-forum-overview [forum]="forum"></app-forum-overview>
        </div>
        <div class="col-md-3">
          <div *ngFor="let post of forum.latestPosts">
            <app-post-overview [post]="post" [limit]="35"></app-post-overview>
          </div>
        </div>
        <div class="col-md-3 text-right">
          Gönderiler: {{ forum.postsCount }}
        </div>
      </div>
    </li>
  </ul>
</div>