<app-header></app-header>

<div class="container">
  <div class="row">
    <!-- Management Navigation (+) -->
    <div class="col-md-3">
      <div class="shadow-lg rounded overflow-hidden">
        <div class="bg-light text-uppercase font-weight-bold p-3">
          Yönetim Paneli
        </div>
        
        <div class="list-group">
          <li class="list-group-item border-0 rounded-0 disabled" aria-disabled="true">
            <small>Kategoriler & Forumlar</small>
          </li>
          <a href="#" class="list-group-item list-group-item-action border-0 rounded-0">
            Kategoriler
          </a>
          <a href="#" class="list-group-item list-group-item-action border-0 rounded-0">
            Forumlar
          </a>

          <li class="list-group-item border-0 rounded-0 disabled" aria-disabled="true">
            <small>Kullanıcılar</small>
          </li>
          <a href="#" class="list-group-item list-group-item-action border-0 rounded-0">
            Kullanıcılar
          </a>
        </div>
      </div>
    </div>
    <!-- Management Navigation (-) -->
  
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>