<div class="media">
  <!-- Author Image (+) -->
  <img src="{{ post.authorImageUrl }}" style="width: 50px" class="mr-3 rounded" alt="...">
  <!-- Author Image (-) -->
  
  <!-- Post Body (+) -->
  <div class="media-body">
    <a class="d-block" [routerLink]="['/post/' + post.slug + '/' + post.id]">{{ post.title | summary:limit }}</a>
    
    <div class="text-secondary d-flex justify-content-between">
      <small>
        <a [routerLink]="['/user/' + post.authorId]" class="text-secondary">{{ post.authorUserName }}</a>
      </small>
      <small>
        {{ post.postedAt | date:'dd.MM.yyyy, HH:mm:ss' }}
      </small>
    </div>
  </div>
  <!-- Post Body (-) -->
</div>