@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=latin-ext');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #EEEEEE;
}

.dropdown-toggle::after {
    display:none;
}
.dropdown-menu .dropdown-item {
    font-size: 12px;
}