<div *ngIf="!replies.length" class="text-secondary text-center m-3" role="alert">
  <i class="fas fa-info-circle fa-2x d-block"></i> Listelenecek herhangi bir gönderi cevabı bulunmuyor.
</div>

<ul *ngIf="replies.length" class="list-group list-group-flush">
  <li class="list-group-item border-0 p-3" *ngFor="let reply of replies; let i = index" [class.bg-light]="(i+1) % 2 === 0">
    <div class="media">
      <!-- User Image (+) -->
      <img src="{{ reply.author.imageUrl }}" style="width: 50px" class="rounded mr-3" alt="{{ reply.title }}">
      <!-- User Image (-) -->
      
      <!-- Reply Details (+) -->
      <div class="media-body">
        <a class="d-block" [routerLink]="['/post/' + reply.postSlug + '/' + reply.postId]">{{ reply.title | summary:60 }}</a>
        
        <div class="text-secondary d-flex justify-content-between">
          <small>
            <a [routerLink]="['/user/' + reply.author.id]" class="text-secondary">{{ reply.author.userName }}</a>
          </small>
          <small>
            {{ reply.repliedAt | date:'dd.MM.yyyy, HH:mm:ss' }}
          </small>
        </div>
      </div>
      <!-- Reply Details (-) -->
    </div>
  </li>
</ul>