<div class="row">
  <div class="col-md-8">
      <app-post-entry [post]="post"></app-post-entry>

      <div class="rounded shadow-lg rounded overflow-hidden mt-5">
        <app-reply-entry *ngFor="let reply of post.replies; let i = index" [reply]="reply" [i]=i [size]="post.replies.length"></app-reply-entry>
      </div>
      
      <app-reply-form (submission)="onSubmit($event)"></app-reply-form>
  </div>

  <div class="col-md-4">
    <app-post-shortlist [posts]="latestPosts" [title]="ds"></app-post-shortlist>
  </div>
</div>