<div style="height: 100vh" class="d-flex align-items-center">
  <div class="bg-white rounded shadow-lg w-25 mx-auto">
    <div class="bg-light text-center rounded p-3">
      {{ title }}
    </div>
    <form [formGroup]="form" class="p-3" autocomplete="off">
      <div class="form-group">
        <input type="text" class="form-control text-center" placeholder="Kullanıcı Adı"
        formControlName="userName" [ngClass]="{ 'is-invalid': submitted && field.userName.errors }">
        <div *ngIf="submitted && field.userName.errors" class="invalid-feedback">
          <div *ngIf="field.userName.errors.required">Kullanıcı adı alanının doldurulması zorunludur.</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control text-center" placeholder="Şifre"
        formControlName="password" [ngClass]="{ 'is-invalid': submitted && field.password.errors }">
        <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
          <div *ngIf="field.password.errors.required">Şifre alanının doldurulması zorunludur.</div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" (click)="onSubmit(form)">Giriş Yap</button>
      </div>
    </form>
    <div class="bg-light text-center rounded p-3">
      <small>
        <a href="" class="d-block text-secondary">Henüz bir hesabın yok mu? Kayıt Ol.</a>
        <a href="" class="d-block text-secondary">Kullanıcı şifremi unuttum.</a>
      </small>
    </div>
  </div>
</div>