<div style="height: 100vh" class="d-flex align-items-center">
  <div class="bg-white rounded shadow-lg mx-auto overflow-hidden w-50">
    <div class="row no-gutters">
      <div class="col-md" style="background-image: url('assets/images/auth/wallpaper.jpg'); background-position: center"></div>

      <div class="col-md">
        <div class="p-5">
          <strong class="text-uppercase">{{ title }}</strong>

          <form [formGroup]="form" class="py-5" autocomplete="off">
            <div class="form-group">
              <input type="text" class="form-control text-center" placeholder="Kullanıcı Adı"
              formControlName="userName" [ngClass]="{ 'is-invalid': submitted && field.userName.errors }">
              <div *ngIf="submitted && field.userName.errors" class="invalid-feedback">
                <div *ngIf="field.userName.errors.required">Kullanıcı adı alanının doldurulması zorunludur.</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control text-center" placeholder="Email"
              formControlName="email" [ngClass]="{ 'is-invalid': submitted && field.email.errors }">
              <div *ngIf="submitted && field.email.errors" class="invalid-feedback">
                <div *ngIf="field.email.errors.required">Email alanının doldurulması zorunludur.</div>
                <div *ngIf="field.email.errors.email">Email alanı mail formatında olmalıdır.</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control text-center" placeholder="Şifre"
              formControlName="password" [ngClass]="{ 'is-invalid': submitted && field.password.errors }">
              <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
                <div *ngIf="field.password.errors.required">Şifre alanının doldurulması zorunludur.</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control text-center" placeholder="Şifre Onayı"
              formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && field.confirmPassword.errors }">
              <div *ngIf="submitted && field.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="field.confirmPassword.errors.required">Şifre alanının doldurulması zorunludur.</div>
                <div *ngIf="field.confirmPassword.errors.mustMatch">Her iki şifre alanının eşleşmesi gerekmektedir.</div>
              </div>
            </div>
      
            <div class="text-center">
              <button type="submit" class="btn btn-primary" (click)="onSubmit(form)">Kayıt Ol</button>
            </div>
          </form>

          <div class="text-center">
            <small>
              <a href="" class="d-block text-secondary">Hesabınız var mı? Giriş Yapın.</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>