<div class="shadow-lg rounded overflow-hidden">
  <div class="bg-light p-3">
    <div class="row d-flex align-items-center">
      <div class="col-md font-weight-bold">
        {{ title | uppercase }}
      </div>

      <div class="col-md text-right">
        <button class="btn btn-primary btn-sm" (click)="openCategoryForm()">Yeni Kategori Oluştur</button>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="p-3" *ngFor="let category of categories; let i = index" [class.bg-light]="(i+1) % 2 === 0">
      <!-- The Category that Forums Belongs to (+) -->
      <div class="d-flex justify-content-between">
        <div>
          <i class="far fa-folder text-warning"></i> {{ category.categoryName }}
        </div>
        <div>
          <i class="text-primary fas fa-plus-circle" (click)="openForumForm(category.id)" style="cursor: pointer"></i>
          <i class="text-secondary fas fa-cog ml-2" (click)="openCategoryForm(category)" style="cursor: pointer"></i>
          <i class="text-danger far fa-trash-alt ml-2" (click)="onDelete(category, 'category')" style="cursor: pointer"></i>
        </div>
      </div>
      <!-- The Category that Forums Belongs to (-) -->

      <!-- Forum List (+) -->
      <div *ngFor="let forum of category.forums; let i = index" class="pl-5">
        <div class="d-flex justify-content-between">
          <div class="text-secondary">
            {{ (i+1) + '. ' + forum.title }}
          </div>

          <!-- Forum Actions (+) -->
          <div>
            <i class="text-secondary fas fa-cog" (click)="openForumForm(category.id, forum)" style="cursor: pointer"></i>
            <i class="text-danger far fa-trash-alt ml-2" (click)="onDelete(forum, 'forum')" style="cursor: pointer"></i>
          </div>
          <!-- Forum Actions (-) -->
        </div>
      </div>
      <!-- Forum List (-) -->
    </div>
  </div>
</div>