<div class="shadow-lg rounded overflow-hidden">
  <div class="bg-light p-3">
    <div class="row d-flex align-items-center">
      <div class="col">
        <app-forum-overview [forum]="forum"></app-forum-overview>
      </div>

      <div class="col text-right">
        <a [routerLink]="['/forum/' + forum.id + '/post/new']" class="btn btn-primary"><i class="fas fa-plus-square"></i> Yeni Gönderi Oluştur</a>
      </div>
    </div>
  </div>

  <div [hidden]="forum.posts.length" class="bg-light p-3">
    <div class="alert alert-primary m-0" role="alert">
      <i class="fas fa-info-circle"></i> Bu foruma ait hiç bir gönderi bulunmuyor. Yeni gönderi oluşturarak ilk gönderiyi paylaşan siz olun :)
    </div>
  </div>

  <app-post-list [hidden]="!forum.posts.length" [forum]="forum"></app-post-list>
</div>