    
<div class="shadow-lg overflow-hidden rounded" [hidden]="!authService.isAuthanticated">
  <div class="bg-light border-bottom p-3">
    {{ title }}
  </div>
  
  <div class="bg-white p-3">
    <form [formGroup]="form" autocomplete="off">
      <div class="form-group">
        <textarea class="form-control" formControlName="body" rows="5"></textarea>
        <div *ngIf="submitted && field.body.errors" class="invalid-feedback">
          <div *ngIf="field.body.errors.required">Bu alanının doldurulması zorunludur.</div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-primary" (click)="onSubmit(form)" [disabled]="form.invalid">Hızlı Cevapla</button>
      </div>
    </form>
  </div>
</div>